Source: qlue-ui
Section: web
Priority: optional
Maintainer: Julian Mundhahs <mundhahj@tf.uni-freiburg.de>
Build-Depends:
 debhelper-compat (= 13),
 dh-virtualenv (>= 1.2),
 python3,
 python3-venv,
 python3-dev,
 nodejs,
 npm
Standards-Version: 4.6.2
Homepage: https://github.com/qlever-dev/qlue-ui

Package: qlue-ui
Architecture: any
Depends:
 ${misc:Depends},
 python3,
Description: A user-friendly interface for the QLever SPARQL engine
 qlever-ui is a Django web application that provides a browser-based
 interface for the QLever SPARQL engine. It supports query editing,
 result display, and backend management.

