#!/usr/bin/make -f
export DH_VIRTUALENV_INSTALL_ROOT=/opt/venvs

%:
	dh $@

override_dh_auto_build:
	# Build the frontend
	npm --prefix frontend ci
	npm --prefix frontend run build

override_dh_auto_test:
	# No tests

override_dh_auto_install:
	# Create and install the virtual environment that will be included in the package
	dh_virtualenv \
	    --sourcedirectory backend \
		--python /usr/bin/python3 \
		# Fixing the shebang only works with virtualenv.
		--builtin-venv \
		--preinstall "setuptools>=68.0" \
		--preinstall "wheel>=0.41" \
		--upgrade-pip \
		--extra-pip-arg "--no-compile"

override_dh_auto_clean:
	dh_clean
	rm -rf frontend/dist frontend/node_modules
	rm -rf backend/build backend/dist

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_strip:
	dh_strip --exclude=python

